<a href="https://colab.research.google.com/github/virf96/Basico/blob/main/Ingenier%C3%ADa_de_Variables_DummyNominalTexto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1 style="color:blue">Codificación de variables categóricas </h1>

- Hasta ahora nos aseguramos de que se utilizara la categoría más común para completar los valores faltantes. Ahora que esto es hecho, tenemos que dar un paso más.
    
- Cualquier algoritmo de aprendizaje automático, ya sea una regresión lineal o una utilización de KNN, requiere características de entrada numérica de las que aprender. 
- Hay varios métodos en los que podemos confiar para transformar nuestros datos categóricos en datos numéricos.

<h1 style="color:grey">Codificación a nivel nominal </h1>

El método principal que tenemos es transformar nuestros datos categóricos en 

---

variables "dummy". 

Las variables "dummy" toman el valor cero o uno para indicar la ausencia o presencia de un categoría. 
Son suplentes numéricos, para datos cualitativos.

Ejemplo: Género : "hombre","mujer", en este caso usaríamos un código ficticio cuando la persona es  mujer = 1,
y mujer = 0 cuando la persona es hombre.

Al trabajar con variables "dummy", es importante evitar información duplicada.

In [1]:
import pandas as pd
pd.set_option("display.max_columns",200)

In [ ]:
#Mediante un diccionario indicamos las columnas y los registros
df= pd.DataFrame({'v_ciudad':['tokyo', "london", 'london', 'seattle', 'san francisco', 'tokyo'],
'v_boolean':['yes', 'no', "yes", 'no', 'no', 'yes'],
'v_columna':['intermedio', 'gusta',
'intermedio', 'gusta', 'intermedio', 'no_gusta'],
'c_columna':[1, 11, -.5, 10, 11,20]})

In [ ]:
df

        v_ciudad v_boolean   v_columna  c_columna
0          tokyo       yes  intermedio        1.0
1         london        no       gusta       11.0
2         london       yes  intermedio       -0.5
3        seattle        no       gusta       10.0
4  san francisco        no  intermedio       11.0
5          tokyo       yes    no_gusta       20.0

In [ ]:
#Obtenemos una columna por cada categoría en la variable categorica a la que le apliquemos el método
pd.get_dummies(df,columns = ['v_ciudad', 'v_boolean'], prefix_sep='_')

,v_columna,c_columna,v_ciudad_london,v_ciudad_san francisco,v_ciudad_seattle,v_ciudad_tokyo,v_boolean_no,v_boolean_yes
0,intermedio,1.0,0,0,0,1,0,1
1,gusta,11.0,1,0,0,0,1,0
2,intermedio,-0.5,1,0,0,0,0,1
3,gusta,10.0,0,0,1,0,1,0
4,intermedio,11.0,0,1,0,0,1,0
5,no_gusta,20.0,0,0,0,1,0,1

In [ ]:
df=pd.get_dummies(df,columns = ['v_ciudad', 'v_boolean'], prefix_sep='_')

<h1 style="color:grey">Codificación a nivel ordinal</h1>

- En estas variables todavía hay información útil, sin embargo, necesitamos transformar las cadenas en datos numéricos. En el nivel ordinal, dado que hay un significado en los datos que tienen un orden específico, no tiene sentido usar dummys. Para mantener el orden, usaremos un codificador de etiquetas.

- Por codificador de etiquetas, queremos decir que cada etiqueta en nuestros datos ordinales tendrá un valor numérico asociado. En nuestro ejemplo, esto significa que los valores de la columna ordinal (no me gusta, intermedio, me gusta) se representarán como 0, 1 y 2.

In [ ]:
#Con .map aplicamos la codificación a toda la variable
df["v_columna"]=df["v_columna"].map({"no_gusta":0,"intermedio":1,"gusta":2})

In [ ]:
df

,v_columna,c_columna,v_ciudad_london,v_ciudad_san francisco,v_ciudad_seattle,v_ciudad_tokyo,v_boolean_no,v_boolean_yes
0,1,1.0,0,0,0,1,0,1
1,2,11.0,1,0,0,0,1,0
2,1,-0.5,1,0,0,0,0,1
3,2,10.0,0,0,1,0,1,0
4,1,11.0,0,1,0,0,1,0
5,0,20.0,0,0,0,1,0,1

<h1 style="color:grey">Construcción de características específicas de texto</h1>


- Hasta este punto, hemos estado trabajando con datos categóricos y numéricos. Si bien nuestros datos categóricos se han presentado en forma de una cadena, el texto ha sido parte de una sola categoría. Ahora profundizaremos en datos de texto de formato más largo. Esta forma de datos de texto es mucho más compleja que el texto de una sola categoría, porque ahora tenemos una serie de categorías o tokens. 

- Antes de seguir trabajando con datos de texto, asegurémonos de comprender bien lo que queremos decir cuando nos referimos a datos de texto. Considere un servicio como Yelp, donde los usuarios escriben reseñas de restaurantes y negocios para compartir sus pensamientos sobre su experiencia. Estas revisiones, todas escritas en formato de texto, contienen una gran cantidad de información que sería útil para fines de aprendizaje automático, por ejemplo, para predecir el mejor restaurante para visitar.

- Este tipo de trabajo puede denominarse procesamiento del lenguaje natural (NLP), es importante tener en cuenta que todos los modelos de aprendizaje automático requieren entradas numéricas, por lo que debemos ser creativos y pensar estratégicamente cuando trabajamos con texto y convertimos esos datos en características numéricas. Hay varias opciones para hacer.

<h2 style="color:grey">Bag of words</h2>


- El scikit-learn tiene un módulo útil llamado feature_extraction que nos permite, como su nombre indica, extraer características para datos como texto en un formato compatible con algoritmos de aprendizaje automático.Este módulo tiene métodos que podemos utilizar cuando trabajamos con texto.

- El método más común para transformar un corpus en una representación numérica, un proceso conocido como vectorización, es mediante un método llamado bolsa de palabras. La idea básica detrás del enfoque de la bolsa de palabras es que los documentos se describen por apariciones de palabras mientras ignorando por completo la posición de las palabras en el documento. En su forma más simple, el texto se representa como una "bolsa", sin tener en cuenta la gramática o el orden de las palabras, y se mantiene como un conjunto, dando importancia a la multiplicidad.

- Una bolsa de representación de palabras se logra en el siguiendo tres pasos:
<h3 style="color:grey">Tokenización</h3>  
<h3 style="color:grey">Contando</h3> 
<h3 style="color:grey">Normalizando</h3>

- Comencemos con la tokenización. Este proceso utiliza espacios en blanco y puntuación para separar palabras entre sí, convirtiéndolas en tokens. A cada token posible se le asigna un ID de número entero. 
- Luego viene el conteo. Este paso simplemente cuenta las apariciones de tokens dentro de un documento. Por último, viene la normalización, lo que significa que los tokens se ponderan con una importancia decreciente cuando aparecen en la mayoría de los documentos.

<h3 style="color:grey">a) CountVectorizer</h3>

- Es el método más utilizado para convertir datos de texto en sus representaciones vectoriales. Es similar a las variables "dummy", en el sentido de que CountVectorizer convierte columnas de texto en matrices donde las columnas son tokens y los valores de celda son recuentos de apariciones de cada token en cada documento. La matriz resultante se conoce como matriz documento-término porque cada fila representará un documento.

- stop_words
- min_df
- ngram_range

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
tweet=pd.read_csv("/content/drive/My Drive/datasets/covid19_tweets.csv")

In [4]:
tweet[:50]

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,ᏉᎥ☻լꂅϮ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile 🇺🇸,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,🖊️Official Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False
5,🎹 Franz Schubert,Новоро́ссия,🎼 #Новоро́ссия #Novorossiya #оставайсядома #S...,2018-03-19 16:29:52,1180,1071,1287,False,2020-07-25 12:27:06,#coronavirus #covid19 deaths continue to rise....,"['coronavirus', 'covid19']",Twitter Web App,False
6,hr bartender,"Gainesville, FL",Workplace tips and advice served up in a frien...,2008-08-12 18:19:49,79956,54810,3801,False,2020-07-25 12:27:03,How #COVID19 Will Change Work in General (and ...,"['COVID19', 'Recruiting']",Buffer,False
7,Derbyshire LPC,NaN,NaN,2012-02-03 18:08:10,608,355,95,False,2020-07-25 12:27:00,You now have to wear face coverings when out s...,NaN,TweetDeck,False
8,Prathamesh Bendre,NaN,"A poet, reiki practitioner and a student of law.",2015-04-25 08:15:41,25,29,18,False,2020-07-25 12:26:59,Praying for good health and recovery of @Chouh...,"['covid19', 'covidPositive']",Twitter for Android,False
9,Member of Christ 🇨🇳🇺🇸🇮🇳🇮🇩🇧🇷🇳🇬🇧🇩🇷🇺,👇🏻location at link below👇🏻,"Just as the body is one & has many members, & ...",2014-08-17 04:53:22,55201,34239,29802,False,2020-07-25 12:26:54,POPE AS GOD - Prophet Sadhu Sundar Selvaraj. W...,"['HurricaneHanna', 'COVID19']",Twitter for iPhone,False
10,Voice Of CBSE Students,NaN,NaN,2020-07-14 17:50:30,8,10,7,False,2020-07-25 12:26:53,49K+ Covid19 cases still no response from \n@c...,NaN,Twitter Web App,False
11,Creativegms,"Dhaka,Bangladesh","I'm Motalib Mia, Logo -Logo Designer - Brandin...",2020-01-12 09:03:01,241,1694,8443,False,2020-07-25 12:26:50,Order here: https://t.co/4NUrGX6EmA\n\n#logo #...,"['logo', 'graphicdesigner', 'logodesign', 'log...",Twitter Web App,False
12,SEXXYLYPPS,Hotel living - various cities! Who needs a ho...,"My ink ""My Way...No Regrets""\nAlways Make Happ...",2010-03-25 21:16:20,0,8,32,False,2020-07-25 12:26:47,👋🏻@PattyHajdu @NavdeepSBains — no one will be ...,['COVID19'],Twitter Web App,False
13,Africa Youth Advisory Board on DRR,Africa,Official account of the Africa Youth Advisory ...,2019-05-13 06:27:47,830,254,3692,False,2020-07-25 12:26:47,Let's all protect ourselves from #COVID19.\nIt...,['COVID19'],Twitter Web App,False
14,DailyaddaaNews,New Delhi,Breaking news alerts from India.,2016-10-22 09:18:42,546,29,88,False,2020-07-25 12:26:46,Rajasthan Government today started a Plasma Ba...,NaN,Twitter Web App,False
15,Dimapur 24/7.,"Nagaland, India",strive to promote Truth with Integrity.\nhttps...,2019-11-11 12:02:27,274,32,378,False,2020-07-25 12:26:45,Nagaland police on Covid-19 Awareness at City ...,"['Covid19', 'keepsocialdistance']",Twitter for Android,False
16,ChennaiCityNow,NaN,Individual tweeting about significant happenin...,2009-04-26 09:38:11,3987,53,749,False,2020-07-25 12:26:44,July 25 #COVID19 update\n#TamilNadu - 6988\nDi...,"['COVID19', 'TamilNadu', 'chennai']",Twitter for iPhone,False
17,marc goovaerts🇪🇺🏳️‍🌈,Brussels,"Progressive mind. Flemish. Into movies, politi...",2009-06-13 13:48:16,283,1432,1546,False,2020-07-25 12:26:44,Second wave of #COVID19 in Flanders..back to m...,"['COVID19', 'homework']",Twitter for Android,False
18,Dorian Aur,NaN,NaN,2011-01-30 18:40:16,46,108,453,False,2020-07-25 12:26:43,It is during our darkest moments that we must ...,['light'],Twitter Web App,False
19,Coronavirus Law,"Florida, USA",COVID-19 Practice of Lechner Law,2019-12-03 19:00:11,14,24,74,False,2020-07-25 12:26:39,COVID Update: The infection rate in Florida is...,NaN,Twitter for iPad,False
20,The Voice of GenX,NaN,NaN,2011-05-28 15:28:21,292,1037,58,False,2020-07-25 12:26:37,@EvanAKilgore @realDonaldTrump Good Patriots!\...,NaN,Twitter for iPhone,False
21,APO Group English,#AFRICA #MENA,Latest #Africa & #MENA related #News releases ...,2011-02-22 09:09:45,10661,6,2037,True,2020-07-25 12:26:31,Coronavirus - South Africa: COVID-19 update fo...,NaN,Africa Newsroom,False
22,Micah Pollak,Northwest Indiana,Associate Professor of Economics (PhD in Econo...,2011-07-22 13:41:42,751,183,1308,False,2020-07-25 12:26:31,"@JimBnntt Your image doesn't list a source, bu...",NaN,Twitter Web App,False
23,CAWST,100+ countries,"Providing training, education and technical co...",2009-08-06 02:43:36,3038,2713,7445,False,2020-07-25 12:26:30,The first comprehensive review of #WASH &amp; ...,"['WASH', 'COVID19']",Twitter for iPhone,False
24,Florian Bieber,Graz,"Niko i ništa, professor, so-called Balkan expe...",2009-06-18 09:46:10,18145,1389,13578,False,2020-07-25 12:26:28,Holy water in times of #COVID19 https://t.co/Y...,['COVID19'],Twitter for Android,False
25,Blood Donors India,"Mumbai, India",Focused on matching blood donors with those in...,2008-12-23 07:55:39,1215920,2047,19359,True,2020-07-25 12:26:26,#Kolar\nNeed #Blood Type : B-positive\nAt : J...,"['Kolar', 'Blood', 'COVID19']",Blood Donors India,False
26,Tetra Tech International Development,Working in 175+ countries,A leader in #GlobalDev. We work to improve liv...,2010-08-06 19:09:22,20699,458,2680,False,2020-07-25 12:26:26,Our Munitions Response Team in #BosniaandHerze...,['BosniaandHerzegovina'],Twitter Web App,False
27,beatnikgeek the soothsayer,"Manhattan, NY","These days, I expose colonizers & exploits @ t...",2008-02-23 19:02:29,86,259,9412,False,2020-07-25 12:26:26,I can imagine the same people profiting off th...,['COVID19'],Twitter for Android,False
28,Mugilan Chandrakumar,no e-pass to cross borders...,Journalist/Stay Grounded/ RT's are not Endorse...,2011-06-12 18:18:43,8205,1083,32076,False,2020-07-25 12:26:24,#TNCoronaUpdate\n\n#TN crosses 2 lakh mark and...,"['TNCoronaUpdate', 'TN', 'COVID19']",Twitter for Android,False
29,🏎🚒🚨☎️⚖️☎️📩📥📧 TAX Reform,I ♥️ I ♥️ I ♥️ I,https://t.co/VDCHungubm | @1984Vivika | https:...,2019-12-06 14:42:15,28,1449,1196,False,2020-07-25 12:26:21,@ratasjuri TAX Reform\n\nTax-free minimum:\nFo...,NaN,Twitter for iPad,False
30,Ms Paz,United States,NaN,2019-09-15 18:10:09,127,974,30217,False,2020-07-25 12:26:21,#FEMA acknowledges #PuertoRico lacks rebuilt h...,"['FEMA', 'PuertoRico', 'COVID19']",Twitter for iPhone,False
31,V2Cinemas,"Chennai, India",V2Cinemas is one of the leading entertainment ...,2014-09-14 03:37:40,55589,548,10526,False,2020-07-25 12:26:21,Actor @VishalKOfficial and his father Mr.G.K.R...,"['Covid19', 'Vishal']",Twitter for Android,False
32,Beautify Data,"Miami, FL",We beautify data to learn and gain insight fro...,2019-02-18 17:11:24,82,92,1152,False,2020-07-25 12:26:17,"An update on the total #covid19 cases, recover...","['covid19', 'Africa']",Twitter Web App,False
33,Alan Taylor,"British Columbia, Canada",Lifetime learner and traveler. The only asset ...,2012-03-11 21:21:35,54,422,1392,False,2020-07-25 12:26:15,@unionwill @megawedgy @jjhorgan “Regarding the...,['COVID19'],Twitter for iPad,False
34,The Bishop's Table Hotel,"Farnham, Surrey","Step off the beautiful West Street, Farnham, i...",2010-02-01 08:54:51,387,195,26,False,2020-07-25 12:26:15,A safe place to visit? Here is what our guests...,NaN,Twitter Web App,False
35,Higher Health South Africa,South Africa,Higher Health is dedicated to promoting the he...,2014-05-23 06:18:35,1934,247,722,False,2020-07-25 12:26:09,Our CEO @RamneekHH live with @SASCO_Jikelele W...,NaN,Twitter for iPhone,False
36,harleyb,Deep Heart Texas,Inquisitive; Open minded but clear-eyed; Unapo...,2014-02-03 01:23:36,6156,5463,193090,False,2020-07-25 12:26:06,@NicoleKowalski5 @chrisdameanor19 I'm feeling ...,['COVID19'],Twitter for Android,False
37,WASH FOR HEALTH,NaN,Tweets (by WHO team) in support of #washinhcf ...,2015-08-20 08:53:15,1657,823,2008,False,2020-07-25 12:26:02,Actionables for a healthy recovery from #COVID...,"['COVID19', 'climate']",Twitter for iPhone,False
38,Mr Gazz,"Dorset, UK","European citizen, educator. Proud Dad. Fan of ...",2010-08-25 13:01:56,1416,1637,46021,False,2020-07-25 12:26:01,@jfoster2019 @bbclaurak Well #BorisJohnson mig...,"['BorisJohnson', '5COBRA', 'Five']",Twitter for Android,False
39,ASHP,"Bethesda, Maryland",ASHP — Representing #pharmacists who serve as ...,2009-09-15 19:52:43,32008,3763,7862,True,2020-07-25 12:26:00,We released two new #COVID19 podcast episodes ...,['COVID19'],Twitter Web App,False
40,Aishling Sheridan,"Cavan, Ireland",Athletic therapist and trainer ✌️ Cavan ladies...,2011-12-21 18:19:44,1136,484,2002,False,2020-07-25 12:25:58,#PlayYourPart in the fight against #COVID19 . ...,"['PlayYourPart', 'COVID19']",Twitter for iPhone,False
41,Matthew McGee ⴵ 🌍🇪🇺🇬🇧🎭🎞📚,A UK I no longer recognise,"I am a man, and nothing human is alien to me. ...",2011-12-07 11:16:36,3113,3086,221545,False,2020-07-25 12:25:56,"Britain didn't understand #Covid19 for months,...",['Covid19'],Twitter for Android,False
42,N I C TA S H ♍,"Port Elizabeth, South Africa",I.G: @nictash_tash,2016-04-28 09:05:56,481,308,1120,False,2020-07-25 12:25:50,Volume for those at the back please. 🔊 #COVID1...,['COVID19'],Twitter for Android,False
43,TOI Delhi,"New Delhi, India",Your city. Your neighborhood. Your block. Cove...,2009-04-13 13:00:35,52186,41,74,True,2020-07-25 12:25:49,"#Delhi reports 1,142 #COVID19 positive cases a...","['Delhi', 'COVID19']",TweetDeck,False
44,🏳️‍🌈Heath Walker🏳️‍🌈,"Larose, LA",Single 🏳️‍🌈GAY🏳️‍🌈 Indy Lib #HowieHawkins2020 ...,2012-07-27 13:54:06,594,1012,37279,False,2020-07-25 12:25:46,@realDonaldTrump Venezuela's Economy/Budget ar...,NaN,Twitter for Android,False
45,Dr. K. Surender Raj,chennai,DMK Cuddalore Dist. Students Wing Joint Sec.\n...,2020-04-05 12:01:02,152,885,1496,False,2020-07-25 12:25:46,#TamilNadu | #COVID19 | 25th July\n\n● TN - ...,"['TamilNadu', 'COVID19']",Twitter for iPhone,False
46,Los Pepes,Nairobi,NaN,2016-04-23 07:39:51,610,1446,3280,False,2020-07-25 12:25:42,Why has Ruto not eulogisied Mkapa!! \nAsking f...,"['RutoSwindlingGEMA', 'COVID19']",Twitter for Android,False
47,Wanda Warwick,worldwide,Travel Tweets from a Worldwide Traveller - 110...,2016-09-01 13:00:41,510,276,156,False,2020-07-25 12:25:38,Coronavirus Testing Fiasco: St Mirren have ple...,NaN,TweetCaster for Android,False
48,Horace Hamilton,Scotland,The best laid schemes of Mice and Men \noften ...,2014-08-01 11:42:15,798,689,183,False,2020-07-25 12:25:37,Coronavirus Testing Fiasco: St Mirren have ple...,NaN,TweetCaster for Android,False
49,HelloHealthy,NaN,NaN,2012-11-23 05:38:37,951,291,155,False,2020-07-25 12:25:37,"#TamilNadu | #COVID19 | 25th July\n● TN - 6,...","['TamilNadu', 'COVID19']",Twitter for Android,False

In [5]:
#Eliminamos la variable "user_description"
tweet=tweet.dropna(subset=["user_description"])

In [6]:
#Definimos un data frame
df= pd.DataFrame({'t_columna':['wednesday addams as a disney princess', "When your cat has more baking soda than Ninja", 'New York City', 'seattle', 'I love music, any kind of music, I love music', 'Queens lifer representing Eastern Queens',"eeee"],
'c_columna':[1, 11, -.5, 10, 11,20,11]})

In [7]:
df.head()

                                       t_columna  c_columna
0          wednesday addams as a disney princess        1.0
1  When your cat has more baking soda than Ninja       11.0
2                                  New York City       -0.5
3                                        seattle       10.0
4  I love music, any kind of music, I love music       11.0

In [8]:
#Guardamos la variable "t_columna" en X
X = df['t_columna']

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
#Guardamos la función CountVectorizer, indicando que el idioma es Inglés
vect = CountVectorizer(stop_words="english")
#En array guardamos vect.fit_transform para transformar los datos a la matriz de palabras
array = vect.fit_transform(X)

In [12]:
pd.DataFrame(array.toarray(),columns=vect.get_feature_names())

,addams,baking,cat,city,disney,eastern,eeee,kind,lifer,love,music,new,ninja,princess,queens,representing,seattle,soda,wednesday,york
0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
1,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
2,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,1,0,2,3,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,1,0,0,1,0,0,0,0,0,2,1,0,0,0,0
6,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [13]:
#Volvemos a correr la función dado que el idioma Inglés ya está por default
vect = CountVectorizer()
array = vect.fit_transform(X)

In [14]:
#Imprimimos las dimensiones de la matriz
pd.DataFrame(array.toarray(),columns=vect.get_feature_names()).shape

(7, 28)

In [15]:
#Ahora guardamos la variable "user_description" en  X
X=tweet["user_description"]

In [16]:
#Transformamos el documento "X" en una matriz con su respectivo conteo de palabras
vect = CountVectorizer()
array = vect.fit_transform(X)

In [17]:
#Imprimos las dimensiones de la matriz obtenida
array.shape

(168822, 132738)

In [18]:
#Volvemos a transformar el conjunto de documento pero ahora:
# solo incluiremos las palabras que aparecen en almenos  5% dentro de los documentos del corpus
vect = CountVectorizer(min_df=.05) 
array = vect.fit_transform(X)

In [19]:
#Dimensiones de la matriz
array.shape

(168822, 22)

In [20]:
#Volvemos a transformar el conjunto de documento pero ahora:
# solo incluiremos las palabras que aparecen como máximo en el 80% de los documentos
vect = CountVectorizer(max_df=.5) 
array = vect.fit_transform(X)

In [21]:
#Dimensiones de la matriz
array.shape

(168822, 132738)

- "ngram_range",este parámetro toma una tupla donde el límite inferior y superior del rango de n-valores indica el número de n-gramos diferentes que se extraerán. Los N-gramas representan frases, por lo que un valor de uno representaría una ficha, sin embargo, un valor de dos representaría dos fichas juntas. Como puede imaginar, esto ampliará significativamente nuestro conjunto.

In [22]:
#Guardamos la variable 't_columna' para trabajar con ella
X = df['t_columna']

In [23]:
vect = CountVectorizer(ngram_range=(1, 5))# también incluye frases de 1-5 palabras
array = vect.fit_transform(X)

In [24]:
#Imprimimos las dimensiones de la matriz
array.shape

(7, 98)

In [25]:
#Visualizamos lo obtenido
pd.DataFrame(array.toarray(),columns=vect.get_feature_names())

,addams,addams as,addams as disney,addams as disney princess,any,any kind,any kind of,any kind of music,any kind of music love,as,as disney,as disney princess,baking,baking soda,baking soda than,baking soda than ninja,cat,cat has,cat has more,cat has more baking,cat has more baking soda,city,disney,disney princess,eastern,eastern queens,eeee,has,has more,has more baking,has more baking soda,has more baking soda than,kind,kind of,kind of music,kind of music love,kind of music love music,lifer,lifer representing,lifer representing eastern,lifer representing eastern queens,love,love music,love music any,love music any kind,love music any kind of,more,more baking,more baking soda,more baking soda than,more baking soda than ninja,music,music any,music any kind,music any kind of,music any kind of music,music love,music love music,new,new york,new york city,ninja,of,of music,of music love,of music love music,princess,queens,queens lifer,queens lifer representing,queens lifer representing eastern,queens lifer representing eastern queens,representing,representing eastern,representing eastern queens,seattle,soda,soda than,soda than ninja,than,than ninja,wednesday,wednesday addams,wednesday addams as,wednesday addams as disney,wednesday addams as disney princess,when,when your,when your cat,when your cat has,when your cat has more,york,york city,your,your cat,your cat has,your cat has more,your cat has more baking
0,1,1,1,1,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,0,0,0,0,0,1,1,1,1,1,0,0,1,1,1,1,1
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,0,0,0,0,2,2,1,1,1,0,0,0,0,0,3,1,1,1,1,1,1,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

- Conceptualmente, las palabras se construyen a partir de palabras raíz, o raíces, y podemos construir un analizador personalizado que tenga en cuenta esto. La derivación es un método común de procesamiento del lenguaje natural que nos permite derivar nuestra vocabulario, o hacerlo más pequeño convirtiendo palabras a sus raíces. Existe un kit de herramientas de lenguaje natural, conocido como NLTK, que tiene varios paquetes que nos permiten realizar operaciones sobre datos de texto.

pip install nltk

In [26]:
from nltk.stem.snowball import SnowballStemmer

In [27]:
#Guardamos la función 'SnowballStemmer' para llevar a su forma raíz las palabras 
stemmer = SnowballStemmer('english')

In [28]:
stemmer.stem('interesante')

'interesant'

In [29]:
stemmer.stem('derivación')

'derivación'

In [30]:
#Creamos un pipeline para derivar las palabras y tokezarlas
def word_tokenize(text):
    words = text.split(' ') 
    return [stemmer.stem(word) for word in words]

In [31]:
word_tokenize("Conceptualmente, las palabras se construyen a partir de palabras raíz, o raíces, y podemos construir un analizador personalizado que tenga en cuenta esto.")

['conceptualmente,',
 'las',
 'palabra',
 'se',
 'construyen',
 'a',
 'partir',
 'de',
 'palabra',
 'raíz,',
 'o',
 'raíces,',
 'y',
 'podemo',
 'construir',
 'un',
 'analizador',
 'personalizado',
 'que',
 'tenga',
 'en',
 'cuenta',
 'esto.']

<h3 style="color:grey">b) Tf-idf vectorizer</h3>

- Un Tf-idfVectorizer se puede dividir en dos componentes. 
- Primero, la parte tf, que representa la frecuencia del término, y la parte idf, que significa frecuencia inversa del documento. Es un método de ponderación de términos que tiene aplicaciones en la recuperación y agrupación de información.
- Se da un peso para evaluar qué tan importante es una palabra para un documento en un corpus. Veamos cada parte un poco más:
- tf: frecuencia del término: mide la frecuencia con la que aparece un término en un documento. Dado que los documentos pueden tener una longitud diferente, es posible que un término aparezca muchas más veces en documentos más largos que en documentos más cortos. Por lo tanto, la frecuencia de los términos a menudo se divide por la longitud del documento, o el número total de términos en el documento, como una forma de normalización.
- idf: frecuencia inversa del documento: mide la importancia de un término. Al calcular la frecuencia de los términos, todos los términos se consideran igualmente importantes. Sin embargo, ciertos términos, como "la", "de" y "y", pueden aparecer muchas veces pero tienen poca importancia. Por lo tanto, debemos ponderar menos los términos frecuentes, mientras que ampliamos los raros.
- Para volver a enfatizar, un TfidfVectorizer es lo mismo que CountVectorizer, en el sentido de que construye características a partir de tokens, pero va un paso más allá y normaliza los conteos a la frecuencia de ocurrencias en un corpus.

https://www.ceadesc.org/article/how-to-process-textual-data-using-tf-idf-in-python-26fec0/

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [33]:
#Trabajaremos con la función "t_columna"
X=df["t_columna"]

In [34]:
#Visualicemos la matriz de conteo de palabras
vect = CountVectorizer()# también incluye frases hasta 5palabras
array = vect.fit_transform(X)

In [35]:
pd.DataFrame(array.toarray(),columns=vect.get_feature_names())

,addams,any,as,baking,cat,city,disney,eastern,eeee,has,kind,lifer,love,more,music,new,ninja,of,princess,queens,representing,seattle,soda,than,wednesday,when,york,your
0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
1,0,0,0,1,1,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,1,1,0,1,0,1
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,1,0,2,0,3,0,0,1,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,2,1,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [36]:
pd.DataFrame(array.toarray(),columns=vect.get_feature_names()).iloc[0].mean()

0.17857142857142858

In [37]:
#Ahora veamos la matriz de importancia de palabras que genera 'TfidfVectorizer()'
vect = TfidfVectorizer()
array_1= vect.fit_transform(X)

In [38]:
pd.DataFrame(array_1.toarray(),columns=vect.get_feature_names())

,addams,any,as,baking,cat,city,disney,eastern,eeee,has,kind,lifer,love,more,music,new,ninja,of,princess,queens,representing,seattle,soda,than,wednesday,when,york,your
0,0.447214,0.00,0.447214,0.000000,0.000000,0.00000,0.447214,0.000000,0.0,0.000000,0.00,0.000000,0.0,0.000000,0.00,0.00000,0.000000,0.00,0.447214,0.000000,0.000000,0.0,0.000000,0.000000,0.447214,0.000000,0.00000,0.000000
1,0.000000,0.00,0.000000,0.333333,0.333333,0.00000,0.000000,0.000000,0.0,0.333333,0.00,0.000000,0.0,0.333333,0.00,0.00000,0.333333,0.00,0.000000,0.000000,0.000000,0.0,0.333333,0.333333,0.000000,0.333333,0.00000,0.333333
2,0.000000,0.00,0.000000,0.000000,0.000000,0.57735,0.000000,0.000000,0.0,0.000000,0.00,0.000000,0.0,0.000000,0.00,0.57735,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.57735,0.000000
3,0.000000,0.00,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.000000,0.00,0.000000,0.0,0.000000,0.00,0.00000,0.000000,0.00,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
4,0.000000,0.25,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.000000,0.25,0.000000,0.5,0.000000,0.75,0.00000,0.000000,0.25,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
5,0.000000,0.00,0.000000,0.000000,0.000000,0.00000,0.000000,0.377964,0.0,0.000000,0.00,0.377964,0.0,0.000000,0.00,0.00000,0.000000,0.00,0.000000,0.755929,0.377964,0.0,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
6,0.000000,0.00,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1.0,0.000000,0.00,0.000000,0.0,0.000000,0.00,0.00000,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000

In [39]:
import pandas as pd

In [40]:
#Definimos un nuevo data frame
df= pd.DataFrame({'t_columna':["When your  has more  baking soda than Ninja",  'I cat love music, any kind of music, I love music', 'Queens lifer representing Eastern Queens'],
'c_columna':[1, 11, -.5]})

In [41]:
df

                                           t_columna  c_columna
0        When your  has more  baking soda than Ninja        1.0
1  I cat love music, any kind of music, I love music       11.0
2           Queens lifer representing Eastern Queens       -0.5

In [42]:
X=df["t_columna"]

In [43]:
vect = TfidfVectorizer(smooth_idf=False)
array_1= vect.fit_transform(X)

In [44]:
pd.DataFrame(array_1.toarray(),columns=vect.get_feature_names())

,any,baking,cat,eastern,has,kind,lifer,love,more,music,ninja,of,queens,representing,soda,than,when,your
0,0.000000,0.353553,0.000000,0.000000,0.353553,0.000000,0.000000,0.000000,0.353553,0.000000,0.353553,0.000000,0.000000,0.000000,0.353553,0.353553,0.353553,0.353553
1,0.242536,0.000000,0.242536,0.000000,0.000000,0.242536,0.000000,0.485071,0.000000,0.727607,0.000000,0.242536,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.377964,0.000000,0.000000,0.377964,0.000000,0.000000,0.000000,0.000000,0.000000,0.755929,0.377964,0.000000,0.000000,0.000000,0.000000